{% extends 'shop/base.html' %}

{% load staticfiles %}

{% block title %}Household Appliances{% endblock %}

{% block header %}{% endblock %}

{% block shoppingcart %}{% endblock %}

{% block sidebar %}
 <!-- Sidebar -->
	{% if categories %}
		<ul class="sidebar-nav">
			{% for cat in categories %}
				<li class="sidebar-brand"> <a href="{{cat.catSlug}}"> {{cat.catName}} </a> </li>
			{% endfor %}
			<hr>
			<li class="sidebar-brand"> <a href="about"> About </a></li>
		</ul>
		{% else %}
			There are no categories!
	{% endif %}
{% endblock %}

{% block main %} {% endblock %}

{% block body_block %}
	
	<br>
	<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
	<br>
	<div class="title"> <h2> Products</h2></div>
	<hr>	
	{% if products %}
		<div id="product-main-container">
		{% for product in products %}
			<div class='single-product-container product'>
				<figure>
					<a href="{{product.id}}/{{product.prodSlug}}"> 					
						<img class="fig" src= "{{ MEDIA_URL}}/{{product.image.url}}">
						{{ product.prodName }}
					</a>
					<br>
					{{product.price}}$
				</figure>
			</div>
		{% endfor %}
		</div>
	{% else %}
		<strong> No products for this category yet!</strong>
	{% endif %}


{% endblock %}
