{% extends 'shop/base.html' %}

{% load staticfiles %}

{% block title %}{{ category.catName }}{% endblock %}

{% block main %} {% endblock %}

{% block body_block %}
	
	<br>
	<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
	<br>
	{% if category %}
	<div class="title"> <h2> {{ category.catName }} </h2></div>
	{% endif %}
	<hr>	
	{% if products %}
		<div id="product-main-container">
		{% for product in products %}
			<div class='single-product-container product'>
				<a href="{{ BASE_DIR}}/{{product.id}}/{{product.prodSlug}}">
					<figure class="fig">		
						<img src= "{{ MEDIA_URL}}/{{product.image.url}}">
					</figure>
					{{ product.prodName }}
				</a>
				<br>
				{{product.price}}$
			</div>
		{% endfor %}
		</div>
	{% else %}
		<strong> No products yet!</strong>
	{% endif %}

{% endblock %}
