{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block header %}{% endblock %}

{% block shoppingcart %}{% endblock %}
{% block sidebar %}
 <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>

{% endblock %}


{% block main %} {% endblock %}

{% block body_block %}

<h1>{{ category.name }}</h1>
	{% if category %}
		{% if products %}
			<ul>
			{% for product in products %}
				<li>{{ product.name }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<strong> No products for this category yet!</strong>
		{% endif %}
		{% else %}
			The specified category {{ category.name }} does not exist!
	{% endif %}
{% endblock %}
